* {
    font-family: 'Lato';
    src: url('/assets/font/Lato-Regular.ttf');
    scroll-behavior: smooth;
}

.responsive {
    @apply w-full max-w-sm px-5 mx-auto sm:px-0 sm:max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-6xl ;
}

@media (min-width: 1536px) {
    .responsive {
        max-widht: 1480px;
    }
}

/* Create a sticky/fixed navbar */
#navbar {
    overflow: hidden;
    transition: 0.2s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
  }
 
.img-container {
    @apply relative w-full;
    padding-top: 64%;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #00171F;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  