/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    outline: none;
    color:#333333;
    font-family: 'Lato', sans-serif;
}
.button:focus {outline:0;}

.font-mahardika:hover {
    color:#0498A9;
}
.font-mahardika-gray{
    color:#999999;
}
.button-orange{
    background: #FF7A03;
}

.button-green{
    background: #0498A9;
}

.teal{
    color:#0AABBD;
}

.orange{
    background: #FF7A03;
}

#navbutton{
    animation: ease-in-out;
    transition: 0.5s;
}

.overlay {

    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.5s;
}


.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    overflow-x: hidden;

}


.overlay a:hover, .overlay a:focus {
    color: white;
    text-underline: white;
    text-underline-offset: 20px;
}


.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

div.kotak-team{
    background: white;
    box-shadow: 4px 4px 30px rgba(4, 155, 169, 0.1);
}

/*.navbar-fixed-top.scrolled {*/
/*    background-color: #fff !important;*/
/*    transition: background-color 200ms linear;*/
/*    color:#333333;*/
/*}*/
/*.navbar-fixed-top{*/
/*    color:white;*/
/*}*/
